Source: 3ds-utils
Maintainer: Ahmad Hasan Mubashshir<ahmubashshir@gmail.com>
Homepage: http://github.com/ahmubashshir/3ds-thumbnailer
Standards-Version: 4.1.5
Build-Depends: libtinyxml2-dev,
    libtinyxml-dev
Priority: optional
Section: utils

Package: 3ds-utils
Section: utils
Priority: optional
Architecture:any
Depends: ${misc:Depends}, ${shlibs:Depends},
Homepage: http://github.com/ahmubashshir/3ds-thumbnailer
Description: 3ds thumbnailer
 Generates thumbnails from nintendo 3ds rom.

